:root {
    --primary-font: 24px;
    --secondary-font: 48px;
    --primary-dark: #1F2937;
    --secondary-dark: #444444;
    --hover-dark: #c9c8c8;
    --primary-light: #eee;
    --secondary-light: #ddd;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 48px;
}

body button:hover {
    background-color: var(--hover-dark);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 104px - 48px);
}

.head {
    background-color: var(--primary-dark);
    padding: 50px;
    width: 100%;
}

.main-logo {
    color: var(--primary-light);
    font-size: calc(100vw - 96vw);
    font-weight: 800;
}

.taskBar {
    flex: 1;
    padding: 0.5em;
    background-color: var(--secondary-light);
    font-size: var(--secondary-font);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inbox, .week, .addProject {
    border: 0;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: var(--primary-font);
    background-color: var(--secondary-light);
}

.btnActive {
    background-color: #e9181869;
}

.projects {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#main {
    flex: 3;
    background-color: var(--primary-light);
    padding: 30px;
}

/* INBOX STYLING */

.inboxTitle {
    font-size: var(--secondary-font);
}

.inboxButton {
    border: 0;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: var(--primary-font);
}

.formInput {
    border: 0;
    width: 100%;
    text-align: left;
    padding: 12px;
    border-radius: 5px;
    font-size: var(--primary-font);
}

.projPopup .formInput {
    margin-top: 1em;
    font-size: 19px;
}

.formContainer {
    display: flex;
    justify-content: space-around;
}

.formCancel {
    width: 45%;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    border-color: 1px solid #eeadad;
    background-color: #ffbebe;
    font-size: 18px;
}

.formSubmit {
    width: 45%;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    border-color: 1px solid #99dd99;
    background-color: #aaffaa;
    font-size: 18px;
}

/* Footer */

.footer {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 18px;
}

.fa-github {
  width: 30px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}